body{
	margin:0;
	padding:0;
	font: 16px/1.8 "Microsoft Yahei",verdana;
}
#fullpage{
	text-align: center;
	/*font-size: 60px;*/
}
.section{
	position: relative;
	overflow: hidden;
}
.section .bg{
  	position: absolute;
  	left:0;
	top:0;
	width:100%;
	height:100%;
}
.section .bg img{
	display: block;
	height:100%;
	width:100%;
}
.bg1{
	position: absolute;
	bottom:-392px;
	width:100%;
	height: 392px; 
	background: url(../img/bg12.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1.7s; 
	bottom: 90px\0;
	/*在ie8中表示里下边框90px。其他浏览器不会有此属性*/
}
.bg2{ 
	position: absolute; 
	bottom: -377px; 
	width: 100%; 
	height: 377px; 
	background: url(../img/bg13.png) 50% 0 no-repeat; 
	transition: all 1s;
}
.mail{
	position: absolute; 
	left: 50%; 
	top: -26px; 
	width: 375px; 
	height: 26px; 
	margin-left: -187px; 
	background-image: url(../img/logo.png); 
	transition: all 1s;
}
.mail{ 
	float: left; 
	height: 26px; 
	text-indent: -9999px;
}
.mail-163{ 
	float: left; 
	width: 107px;
}
.mail-126{ 
	float: left;
	width: 108px; 
	margin-left: 23px;
}
.mail-yeah{ 
	float: right; 
	width: 115px;
}
.hgroup{ 
	position: absolute; 
	width: 554px; 
	height: 176px; 
	left: 50%; 
	top: 25%; 
	margin: 0 0 0 -277px; 
	text-indent: -9999px; 
	background-image: url(../img/slogan.png); 
	opacity: 0; 
	-webkit-transform:scale(0.5, 0.5); 
	transform:scale(0.5, 0.5); 
	transition: all 1s;
}
.bg21{ 
	position: absolute; 
	left: 50%; 
	bottom: 15%; 
	width: 819px; 
	height: 250px; 
	margin-left: -608px; 
	margin-bottom: 40px; 
	background: url(../img/bg21.png) 0 0 no-repeat; 
	transition: all 1s;  
	opacity:0; 
	margin-left: -1108px;
}
.bg22{ 
	position: absolute; 
	left: 50%; 
	bottom: 15%; 
	width: 819px; 
	height: 299px; 
	margin-left: -280px; 
	margin-bottom: 70px; 
	background: url(../img/bg22.png) right 0 no-repeat;
	transition: all 1s; 
	opacity: 0; 
	margin-left: 320px;
}
.bg23{ 
	position: absolute; 
	left: 50%; 
	bottom: 15%; 
	width: 819px; 
	height: 325px; 
	margin-left: -409px; 
	background: url(../img/bg23.png) 50% 0 no-repeat; 
	transition: all 1s;  
	bottom: -40%;
}
.section strong { 
	position: absolute; 
	left: 50%; 
	top: 15%; 
	z-index: 10; 
	width: 512px; 
	height: 45px; 
	margin-left: -256px; 
	font-size: 24px; 
	font-weight: 500; 
	color: #748A9E; 
	opacity: 0; 
	-webkit-transform:scale(0.5, 0.5); 
	transform:scale(0.5, 0.5); 
	transition: all 1s;
}
.section h3{ 
	position: absolute; 
	left: 50%; top: 15%; 
	z-index: 10; 
	width: 512px; 
	height: 45px; 
	margin-left: -256px; 
	margin-top: 60px; 
	text-indent: -9999px; 
	background-repeat: no-repeat; 
	opacity: 0; 
	-webkit-transform:scale(0.5, 0.5); 
	transform:scale(0.5, 0.5); 
	transition: all 1s;
}
.bg31{ 
	position: absolute; 
	left: 50%; 
	bottom: 0; 
	width: 892px; 
	height: 472px; 
	margin-left: -396px; 
	margin-bottom: 80px; 
	background-image: url(../img/bg31.png); 
	opacity: 0; 
	transition: all 1s;
}
.bg32{ 
	position: absolute; 
	left: 50%; 
	bottom: 0; 
	width: 892px; 
	height: 472px; 
	margin-left: -396px; 
	background:url(../img/bg32.png) 470px bottom no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg33 { 
	position: absolute; 
	left: 50%; 
	bottom: 0; 
	width: 441px; 
	height: 380px; 
	margin-left: 50%; 
	background: url(../img/bg33.png) 0 0 no-repeat; 
	opacity: 0; 
	transition: all 1s;
}
.p3{ 
	position: absolute; 
	width: 430px; 
	left: 50%; 
	top: 15%; 
	margin-top: 250px; 
	margin-left: -100%; 
	font-size: 16px; 
	color: #FFFDE1; 
	opacity: 0; 
	transition: all 1s;
}
.p1{ 
	position: absolute; 
	left: 50%; 
	top: 15%; 
	width: 510px; 
	margin-left: -255px; 
	margin-top: 130px; 
	font-size: 16px; 
	color: #727F8C; 
	opacity: 0; 
	transition: all 1s;
}
.section2 h3 { background-image: url(../img/t2.png);}
.section3 h3 { background-image: url(../img/t3.png);}
.section4 h3 { background-image: url(../img/t4.png);}
.section5 h3 { background-image: url(../img/t5.png);}
.section6 strong { width: 561px; margin-left: -280px;}
.section6 h3 { width: 561px; margin-left: -280px; background-image: url(../img/t6.png);}
.section7 strong { width: 561px; margin-left: -280px;}
.section7 h3 { width: 561px; margin-left: -280px; background-image: url(../img/t7.png);}
.section8 strong { width: 561px; margin-left: -280px;}
.section8 h3 { width: 561px; margin-left: -280px; background-image: url(../img/t8.png);}
.section9 strong { width: 609px; margin-left: -304px;}
.section9 h3 { width: 609px; margin-left: -304px; background-image: url(../img/t9.png);}
.section9 h3 span { position: absolute; left: -100px; top: -48px; width: 89px; height: 90px; background-image: url(../img/yixin.png);}
.bg41{ 
	position: absolute; 
	bottom: -372px; 
	width: 100%; 
	height: 372px; 
	background: url(../img/bg41.png) 50% 0 no-repeat;
	transition: all 1s;
}
.bg42{ 
	position: absolute; 
	bottom: -449px; 
	width: 100%; 
	height: 449px; 
	background: url(../img/bg42.png) 50% 0 no-repeat; 
	transition: all 1s;
}
.bg43{ 
	position: absolute; 
	bottom: -449px; 
	width: 100%; 
	height: 449px; 
	margin-bottom: -130px; 
	background: url(../img/bg43.png) 50% 0 no-repeat; 
	transition: all 1s;
}
.bg51, .bg52, .bg53, .bg54 { 
	position: absolute; 
	z-index: 1; 
	width: 208px; 
	left: 50%; 
	bottom: 20%; 
	padding-top: 210px; 
	color: #fff;
}
.section5 h4 { 
	margin-bottom: 12px; 
	font-size: 23px; 
	font-weight: 500;
}
.section5 p { font-size: 14px;}
.bg51 { 
	margin-left: -851px; 
	background: url(../img/bg51.png) 50% 0 no-repeat; 
	opacity: 0; 
	transition: all 1s;
}
.bg52 { 
	margin-left: -403px; 
	background: url(../img/bg52.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg53 { 
	margin-left: 195px; 
	background: url(../img/bg53.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg54 { 
	margin-left: 645px; 
	background: url(../img/bg54.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg61 { 
	position: absolute; 
	top: -454px; 
	width: 100%; 
	height: 545px; 
	background: url(../img/bg61.png) 50% 0 no-repeat; 
	transition: all 1s;
}
.bg62 { 
	position: absolute; 
	left: 10%; 
	bottom: 20%; 
	width: 597px; 
	height: 284px; 
	margin-left: -507px; 
	background-image: url(../img/bg62.png); 
	transition: all 1s;
}
.txt6 { 
	position: absolute; 
	left: 90%; 
	bottom: 20%; 
	width: 447px; 
	margin-left: 90px; 
	opacity: 0; 
	transition: all 1s;
}
.txt6 p{ 
	margin-bottom: 17px; 
	color: #5C7970;
	font-size: 16px;
	text-align: left;
}
.bg71{ 
	position: absolute; 
	left: 50%; 
	bottom: -201px; 
	width: 699px; 
	height: 201px; 
	margin-left: -630px; 
	background: url(../img/bg71.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg72{ 
	position: absolute; 
	left: 50%; 
	bottom: -206px; 
	width: 182px; 
	height: 206px; 
	margin-left: -170px; 
	background: url(../img/bg72.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg73{ 
	position: absolute; 
	left: 50%; 
	bottom: 170px; 
	width: 651px; 
	height: 231px; 
	margin-left: -530px; 
	background: url(../img/bg73.png) 50% 0 no-repeat;
}
.bg74{ 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	height: 100%;
}
.bg74 img{ 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	height: 251px;
}
.txt7{ 
	position: absolute; 
	left: 50%; 
	bottom: -150px; 
	width: 420px; 
	margin-left: 100px; 
	opacity: 0; 
	transition: all 1s;
	font-size: 14px;
	text-align: left;
}
.txt7 p{ 
	margin-bottom: 17px; 
	color: #EAEFF2;
}

.bg81{ 
	position: absolute; 
	width: 100%; 
	bottom: 100px; 
	height: 215px; 
	background: url(../img/bg81.png) 50% 0 no-repeat;
}
.bg82{ 
	position: absolute; 
	left: 50%; 
	bottom: 160px; 
	width: 164px; 
	height: 117px; 
	margin-left: -180px; 
	background-image: url(../img/bg82.png); 
	opacity: 0; 
	transition: all 1s;
}
.bg83{ 
	position: absolute; 
	left: 50%; 
	bottom: 280px; 
	width: 70px; 
	height: 29px; 
	margin-left: -330px; 
	background-image: url(../img/bg83.png); 
	opacity: 0; 
	transition: all 1s;
}
.bg84{ 
	position: absolute; 
	left: 50%; 
	bottom: 320px; 
	width: 43px; 
	height: 26px; 
	margin-left: -410px; 
	background-image: url(../img/bg84.png); 
	opacity: 0; 
	transition: all 1s;
}
.p8{ 
	position: absolute; 
	left: 50%; 
	top: 15%; 
	width: 565px; 
	margin-left: -282px; 
	margin-top: 130px; 
	font-size: 16px; 
	color: #727F8C; 
	opacity: 0; 
	transition: all 1s;
}

.bg91, .bg92, .bg93 { padding-top: 350px; font-size: 16px; color: #fff;}
.bg91{ 
	position: absolute; 
	left: 50%; 
	bottom: 15%; 
	width: 340px; 
	margin-left: -970px; 
	background: url(../img/bg91.png) 0 0 no-repeat; 
	opacity: 0; 
	transition: all 1s;
}
.bg91 p{ 
	position: relative; 
	left: 20px; 
	margin-left: 40px; 
	border-right: 1px solid #13AB86;
}
.bg92{ 
	position: absolute; 
	left: 50%; 
	bottom: 15%; 
	width: 340px; 
	margin-left: -180px; 
	background: url(../img/bg92.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg92 p{ 
	position: relative; 
	left: 40px; 
	margin-left: 30px;
}
.bg93{ 
	position: absolute; 
	left: 50%; 
	bottom: 15%; 
	width: 340px; 
	margin-left: 630px; 
	background: url(../img/bg93.png) 50% 0 no-repeat;
	opacity: 0; 
	transition: all 1s;
}
.bg93 p{ 
	position: relative; 
	left: -20px; 
	padding-left: 100px; 
	border-left: 1px solid #13AB86;
}

.bg101{ 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: url(../img/bg101.png) 50% 20% no-repeat;
}
.bg102{ 
	position: absolute; 
	width: 100%; 
	top: 25%; 
	height: 79px; 
	background: url(../img/bg102.png) 50% 0 no-repeat; 
	opacity: 0; 
	-webkit-transform:scale(0.5, 0.5); 
	transform:scale(0.5, 0.5); 
	transition: all 1s;
}
.bg103{ 
	position: absolute; 
	width: 100%; 
	top: 25%; 
	height: 37px; 
	margin-top: 110px; 
	background: url(../img/bg103.png) 50% 0 no-repeat; 
	opacity: 0; 
	-webkit-transform:scale(0.5, 0.5); 
	transform:scale(0.5, 0.5); 
	transition: all 1s;
}
.go{ 
	position: absolute; 
	left: 50%; 
	top: 55%; 
	width: 254px; 
	height: 70px; 
	margin-top: 220px; 
	margin-left: -127px; 
	text-indent: -9999px; 
	background-image: url(../img/btn.png); 
	opacity: 0; 
	transition: all 1s;
}

.copyright{ 
	position: absolute; 
	left: 0; 
	bottom: 20px; 
	width: 100%; 
	text-align: center; 
	font-size: 0;
}
.copyright a, .copyright span { 
	margin: 0 7px; 
	font-size: 12px; 
	color: #a0a0a0;
}
.right{
	width:40px;
	height:40px;
	color:black;
}
